@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
*{
    margin: 0;
    padding: 0;
}
#hero{
    background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(./image/hero-bg.png);
    /* background-size: cover; */
    height: 919px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
   justify-content: center; /*x axis */ 
   align-items: center;  /*    y axis */
   height: 615px;
}
#hero .hero-content{
    width: 685px;

}
#hero .hero-content .subtitle{
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 10px;
}
#hero .hero-content .title{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 14px;


}
#hero .hero-content .discription{
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;

}
.btn-container{
    text-align: center;
}
.btn{
padding: 14px 18px 14px 18px;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
cursor: pointer;

background: rgb(82, 195, 3);
border: none;
}
.pizza{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 24px;
margin-bottom: 54px;
}
.offer{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 26px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
text-align: center;
margin-top: 16px;
}
#span{
color: rgb(30, 31, 30);
font-family: Work Sans;
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0%;
text-align: center;
background-color: rgb(101, 232, 232);
border-radius: 20px;
padding: 10px;
/* margin-bottom: 30px; */
}
 div.pag2t
{
    text-align: center;
}
div .img{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 200px;
   margin-bottom: 20px;
}
section .page2{
    border: 2px solid rgb(198, 22, 22);
    width:100%;
}
.image-gallery{
    /* width:30%; */
    /* margin: 5px; */
    transition: transform 0.3s ease;
    width:350px;

   

}
.image-gallery:hover{
    transform: scale(1.1); 
}
   /* new section */
div .frame17{
    /* width: 870px; */
    margin: 0 10px;
    margin-top: 10px;
}
div .for-title{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0%;
text-align: center;


}
div .frame17-subtitle{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.5;
}
div .frame17-title{
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}
div .frame17-card-box{
    display: flex;
    justify-content: space-between;
    gap:3px;
    margin: 20px,0;
    /* border: 2px solid black;-------------- */


}
.frame17-offer{
 color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 26px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0%;
/* text-align: center; */
margin-top: 16px;
}
span#pizza{
    color: rgb(30, 31, 30);
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    background-color: rgb(101, 232, 232);
   border-radius: 3px;
    padding: 5px;
    margin-top: 100px;
}
div .frame17-content{
text-align: center;
/* border: 2px solid black; */
/* box-shadow: 2px black; */
margin:;
margin-bottom: 100px;
width: 30%;

}

div .frame17-image-div
{
border-radius: 16px;
position: static;
flex: none;
order: 0;
flex-grow: 0;
align-items: center;
margin-bottom: 10px;

}
section .frame17{
    margin-bottom: 100px;
}
div .frame17-last{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-top: 24px;

}
div .frame17-button{
    margin-top: 100px;
    margin-bottom: 100px;
}

section .card{
    margin: 50px 0px;
}
section{
    margin: 20px ,0px;
}
/* new section */
.frame19-section{
    width: 100%;
    border: 2px solid rgb(191, 183, 183);
    box-shadow: 2px 3px rgb(191, 183, 183);

    
    margin:  100px 0px;
}
.frame19-card{
    display: flex;
    justify-content:space-around;
    width: 100%;
    margin: 50px 0px;


}
div .frame19-title{
 color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 29px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
}
.frame19-subtitle{
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 18px;
}
.frame19-hide .subtitle2{
    opacity: 0.6;
    color: rgb(16, 16, 16);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;

}
.frame19-hide{
    border: 1px solid gainsboro;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.icon-image{
    list-style: none;
    display: flex;
    /* width: 50%; */
    gap: 10px;
    margin-top: 19px;
    justify-content: center;
}
.image-gallery1{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.last-section{
    margin: 2000px, 0px;
}